<div class="container form-control">
<h1>New reservation</h1>

<%= render "form", reservation: @reservation %>

<br>

<div>
  <%= link_to "Back to reservations", reservations_path, class: "btn btn-secondary" %>
</div>
</div>